# Authentication
AUTH_SECRET=generate-a-long-random-secret

# Demo client account
DEMO_CLIENT_EMAIL=cliente@parquenet.com.br
DEMO_CLIENT_PASSWORD_HASH=6b296184c23b5dfebaaad42c1d513dac3222baf7634b6bbec459bf424b8d19e7
